.img-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .img-wrap:before {
    animation: img-wrap 1.5s cubic-bezier(.4, 0, .2, 1) forwards;
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  @keyframes img-wrap {
    100% {
      transform: translateY(-100%);
    }
  }
  